*{
  font-family:Source Han Sans,Open Sans,Calibri,Microsoft Yahei,Segoe UI,Arial;
}
.topbar{
  position:fixed;
  width:100%;
  opacity:0.7;
  color:white;
  top:0;
  left:0;
  background:-webkit-linear-gradient(90deg,#222,#333);
  margin:0px;
  box-shadow:0 0 3px #444;
}
.topBar_title{
  font-size:28px;
  -webkit-transition:all .3s;
  transition:all .3s;
  cursor:default;
}
.topBar_title:hover{
  color:#ccc;
}
html,body{
  margin:0px;
  padding:0px;
  background:#ECF0F1;
}
.cont_center{
  text-align:center;
}
.fixedWidthContainer{
  width:830px;
  line-height:0px;
}
.module{
  background:#FFF;
  padding:0;
  width:100%;
  box-shadow:0 0 3px #111;
  margin-top:50px;
  border-top:5px solid #3498DB;
  text-align:left;
}
.module .p_title{
  height:40px;
  line-height:40px;
  color:#111;
  font-size:32px;
  width:100%;
}
.cont_left{
  display:inline-block;
  width:550px;
  margin-right:20px;
  margin-bottom:20px;
}
.cont_right{
  display:inline-block;
  width:230px;
  margin-bottom:20px;
}
*::selection{
  background:#5af;
}
