*{
  font-family:Source Han Sans,Open Sans,Calibri,Microsoft Yahei,Segoe UI,Arial;
}
.topbar{
  position:fixed;
  width:100%;
  opacity:0.7;
  color:white;
  top:0;
  left:0;
  background:-webkit-linear-gradient(90deg,#222,#333);
  margin:0px;
  box-shadow:0 0 3px #444;
}
.topBar_title{
  font-size:28px;
  -webkit-transition:all .3s;
  transition:all .3s;
  cursor:default;
}
.topBar_title:hover{
  color:#ccc;
}
html,body{
  margin:0px;
  padding:0px;
  background:#ECF0F1;
}
.cont_center{
  text-align:center;
}
.fixedWidthContainer{
  width:830px;
  display:inline-block;
  top:50px;
  position:relative;
}
.module{
  background:#FFF;
  padding:0;
  width:100%;
  box-shadow:0 5px 12px #888;
  border-top:5px solid #3498DB;
  text-align:left;
  margin-bottom:20px;
  min-height:500px;
}
.module .p_title{
  height:40px;
  line-height:40px;
  color:#111;
  font-size:32px;
  width:100%;
}
.cont_left{
  top:0px;
  display:block;
  width:550px;
  margin-right:20px;
  left:10px;
  position:absolute;
}
.cont_right{
  top:0px !important;
  display:block;
  width:230px;
  margin-bottom:20px;
  position:absolute;
  top:-30px;
  right:10px;
}
*::selection{
  background:#5af;
}
.pcont .postCont{
  height:50px;
  position:relative;
  line-height:50px;
  transition:all .3s;
}
.pcont .postCont:nth-child(2n){
  background:#eee;
}
.pcont .postCont:nth-child(2n+1){
  background:#fff;
}
.pcont .postCont:hover{
  background:#95a5a6 !important;
}
.postTitle{
  display:inline-block;
  height:50px;
  width:70px;
  font-size:14px;
  background:#2ECC71;
  text-decoration:none;
  color:black;
}
.date{
  position:absolute;
  top:0px;
  right:0px;
  font-family:Consolas,Ubuntu Mono,Courier New;
  font-size:10px;
  display:block;
  height:12px;
  line-height:12px;
  background:rgba(230,230,230,0.6);
  width:90px;
  text-align:center;
  border-radius:0 0 0 3px;
}
