*{
  font-family:Source Han Sans,Open Sans,Calibri,Microsoft Yahei,Segoe UI,Arial;
}
.topbar{
  position:fixed;
  width:100%;
  opacity:0.7;
  color:white;
  top:0;
  left:0;
  background:-webkit-linear-gradient(90deg,#222,#333);
  margin:0px;
  box-shadow:0 0 3px #444;
}
.topBar_title{
  font-size:28px;
  -webkit-transition:all .3s;
  transition:all .3s;
  cursor:default;
}
.topBar_title:hover{
  color:#ccc;
}
html,body{
  margin:0px;
  padding:0px;
}
.cont_center{
  text-align:center;
}
.module{
  background:#BDC3C7;
  padding:0;
  width:70%;
  box-shadow:0 0 3px #111;
  margin-left:15%;
  margin-right:15%;
  margin-top:50px;
}
.module .p_title{
  height:40px;
  line-height:40px;
  color:white;
  font-size:32px;
  background:#2980B9;
  width:100%;
}
*::selection{
  background:#5af;
}
